<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Usar url_for para referenciar archivos estáticos -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout_styles.css') }}">
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
</head>
<body>
    <div id="alertContainer" class="alert">
        <span id="alertMessage"></span>
    </div>

    {% block body %}{% endblock %}

    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>