<!-- video_found.html -->
{% extends './layout.html' %}

{% block title %}{{data.Titulo}}{% endblock %}

{% block body %}
<form action="/search_video" id="youtubeForm" method="POST">
    <label for="youtube-url">YouTube Url:</label>
    <input type="text" id="youtube-url" name="url" >
    <button type="submit">Buscar</button>
</form>

<div id="video_title">
    {{data.Titulo}}
</div>

<div class="contenedor">
    <img src="{{data.Image_url}}" id="video_image" alt="Video thumbnail">
</div>

<div class="download_button">
    <a href="/descarga">
        <button type="button">Descargar</button>
    </a>
    
</div>
{% endblock %}