{% extends 'layout.html' %}

{% block title %}{{data.Titulo}}{% endblock %}

{% block body %}
<form id="youtubeForm" action="{{ url_for('search_video') }}" method="GET">
    <label for="youtube-url">YouTube Url:</label>
    <input type="text" id="youtube-url" name="url" required>
    <button type="submit">Buscar</button>
</form>

<div id="video_title">
    {{data.Titulo}}
</div>

<div class="contenedor">
    <img src="{{data.Image_url}}" id="video_image" alt="Video thumbnail">
</div>

<div class="download_button">
    <a href="{{ url_for('descarga') }}">
        <button type="button">Descargar</button>
    </a>
</div>
{% endblock %}